<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>基本列表</title>

    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>

    <!--
        v-for 指令：
            1. 用于展示列表数据
            2. 语法: v-for="(item, index) in xxx": key="yyy"
            3. 可遍历：数组、对象、字符串（用的很少），指定次数（用的很少）
    -->

    <!-- 提供一个容器 -->
    <div id="root">
        <h2>人员列表</h2>
        <!-- 便利数组 -->
        <ul>
            <li v-for="p in persons" :key="p.id">{{p.id}} - {{p.name}} - {{p.age}}</li>
        </ul>
        <ul>
            <li v-for="(p,index) in persons" :key="p.index">{{p.id}} - {{p.name}} - {{p.age}} - {{index}}</li>
        </ul>

        <h2>car info</h2>
        <!-- 遍历对象 -->
        <ul>
            <li v-for="(value, key) in car" :key="key">
                {{key}} - {{value}}
            </li>
        </ul>

        <h2>String info</h2>
        <!-- 遍历字符串 -->
        <ul>
            <li v-for="(value, index) in str" :key="index">
                {{index}} - {{value}}
            </li>
        </ul>

        <h2>遍历指定次数</h2>
        <!-- 遍历指定次数 -->
        <ul>
            <li v-for="(value, index) in 5" :key="index">
                {{index}} - {{value}}
            </li>
        </ul>

    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false

        new Vue({
            el: "#root",
            data: {
                persons: [
                    { id: '0001', name: '张三', age: '10' },
                    { id: '0002', name: '李四', age: '20' },
                    { id: '0003', name: '王五', age: '30' },
                ],
                car: {
                    name: "大众",
                    price: "16w",
                    color: "white"
                },
                str: 'hwy'
            }
        })
    </script>

</body>

</html>