<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>列表过滤</title>

    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>

    <!-- 提供一个容器 -->
    <div id="root">
        <h2>人员列表</h2>

        <input type="text" placeholder="请输入名字" v-model="keywords">

        <!-- 遍历数组，使用监视属性实现 -->
        <ul>
            <li v-for="(p,index) in watchFilter" :key="p.id">
                {{p.id}} - {{p.name}} - {{p.age}}
            </li>
        </ul>

        <br />
        <!-- 遍历数组，使用计算属性实现 -->
        <ul>
            <li v-for="(p,index) in computedFilter" :key="p.id">
                {{p.id}} - {{p.name}} - {{p.age}}
            </li>
        </ul>

    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false

        new Vue({
            el: "#root",
            data: {
                keywords: '',
                persons: [
                    { id: '0001', name: '马冬梅', age: '10' },
                    { id: '0002', name: '周冬雨', age: '20' },
                    { id: '0003', name: '周杰伦', age: '30' },
                    { id: '0004', name: '温兆伦', age: '40' },
                ],
                // 使用监视属性方式
                watchFilter: []
            },
            watch: {
                keywords: {
                    // 数据加载时执行一次，将 watchFilter 填充
                    immediate: true,
                    handler(val) {
                        console.log('watch value change, newValue=', val)
                        this.watchFilter = this.persons.filter((p) => {
                            // 返回 val 在name中的位置，
                            // 这里如果 val 是 '' 空字符串，index返回0
                            // name 不包含 val 返回 -1
                            // name 包含 val 返回对应的下标
                            return p.name.indexOf(val) !== -1
                        })
                    }
                }
            },
            computed: {
                computedFilter() {
                    // 计算属性的返回
                    return this.persons.filter((p) => {
                        // 过滤函数的返回
                        return p.name.indexOf(this.keywords) !== -1
                    })
                }
            }
        })
    </script>

</body>

</html>