<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>姓名案例_插值语法实现</title>

    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>

    <!-- 提供一个容器 -->
    <div id="root">
        名: <input type="text" v-model="firstName"><br />
        姓: <input type="text" v-model="lastName"><br />
        全名: <span>{{firstName +'-'+ lastName}}</span>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false


        // data 的两种写法
        new Vue({
            el: "#root",
            data: {
                firstName: "张",
                lastName: '三'
            }
        })

    </script>

</body>

</html>