<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>姓名案例_method实现</title>

    <!-- 引入vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>

    <!-- 提供一个容器 -->
    <div id="root">
        名: <input type="text" v-model="firstName"><br />
        姓: <input type="text" v-model="lastName"><br />
        <!-- 只要vue中的data发生变化，就会重新加载模板，导致fullName()函数会被重新调用，最后最新页面 -->
        全名: <span>{{fullName()}}</span>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false


        // data 的两种写法
        new Vue({
            el: "#root",
            data: {
                firstName: "张",
                lastName: '三'
            },
            methods: {
                fullName() {
                    return this.firstName + '-' + this.lastName
                }
            }
        })

    </script>

</body>

</html>